<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
   <header>
       <div id="top-head">Home deliveries are available and its free for orders above $200</div>
      <div id="nav">
       <nav>
           <div id="logo">
               <img src="/image/logo2.jpg">
           </div>
           
               <li><a href="/">Home</a></li>
               <li><a href="/mealpackages">Meal Packages</a></li>
               <li><a href="/registration">Sign up</a></li>
               <li><a href="/login">Login</a></li>
               <li><a href=""><img src="/image/cart.jpg"></a></li>
                
       </nav> 
    </div>
    <br><br>

    <div id="hero">
        <img src="/image/Banner1 (1).jpeg">
        
    </div>
   </header> 
   <br><br>
   <main>
       {{{body}}}
   </main>
</body>
<footer>
    <div id="footer">
        <div id="con">
       <div id="ch">
           <span id="h">Top cities</span>
           <br><br>
           <p>New York City</p>
           Los Angeles<br>
           Houston<br>
           Brooklyn<br>
           San Diego<br>
           Las Vegas<br>
           San Francisco<br>
           Seattle<br>
           Queens<br>
           Vancouver, BC<br>
           Miami<br>
           San Antonio<br>
           Phoenix<br> 
        </div>
        <div id="ch">
            <br><br>
            <p>Toronto</p>
           <p>Sydney</p>
           <p>Montreal</p>
           <p>Atlanta</p>
           <p>Chicago</p>
           <p>Denver</p>
            Queens<br>
            Vancouver, BC<br>
            Miami<br>
            San Antonio<br>
            Phoenix<br>
            All Cities<br>
         </div>
       <div id="ch">
            <span id="h">Cuisines near you</span>
            <br><br>
          
            Pizza Near Me<br>
            Chinese Food Near Me<br>
            Sushi Near Me<br>
            Cafe Near Me<br>
            Mexican Food Near Me<br>
            Thai Food Near Me<br>
            Lunch Near Me<br>
            Seafood Near Me<br>
            Indian Food Near Me
Dessert Near Me<br>
Burgers Near Me<br>
Asian Food Near Me<br>


       </div>
       <div id="ch">
           <br><br>
        Italian Food Near Me<br>
        Vegan Food Near Me<br>
        Sandwiches Near Me<br>
        Restaurants Near Me<br>

        <br><br><br>
        Contact us: <br><span  id="fb"><img src="/image/facebook.jpeg"></span>
        </div>
       
   </div> 
   <center><hr width="90%" size="1" color="gray"></center>
   <br>
   </div>
</div>
</footer>
</html>