  <center><h1 id="btn1">Welcome Administrator!!. {{fname}} {{lname}}</h1>
<br><br>

  <a href="/add_meal" id="btn1">Add Meal Package</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/editMealPackage" id="btn1" >Edit Meal Package</a>
    </center>
    <br><br>