<center><h1 class="btnw" ">Welcome to our site</h1></center>
<br><br>
<center>
    <h2>Thanks for joining us, we are delighted to serve you!!</h2>
</center>
<br><br>

    <div id="hero" style="opacity: 0.5;">
        <img src="/image/welcome.jpeg">
        
    </div>
    <br><br>
<div id="conw">
   <div id="chw">
    <img src="\image\Pick_1.gif">
   </div> 
   <div id="chw">
  <img src="\image\heat.gif">
   </div> 
   <div id="chw">
  <img src="\image\eat_1_1.gif">
   </div> 
   <div id="chw">
  <img src="\image\repeat---Copy.gif">
   </div> 
</div>
    <br><br>
<center>
<h2 style="width: 100%;">Pick you food from our 100+ menu of all-natural dishes and that will be delivered and cooked.
Just eat Delicious and nutritious food and enjoy skip cooking. And then, Repeat Repeat Repeat! Skip a week or cancel any time.

</h2>
</center>
 <br><br>
    <style>
        #chw img{
            width: 200px;
            height: 200px;
            border-radius: 20px;
            opacity:40;
        }
        #conw{
    display: flex;
    
    
    margin: auto;
    justify-content:  space-evenly;
    width: 100%;
    
    
}
 #chw{
    width: 300px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 15px;
}
.btnw {
  color: white;
  background-color: maroon;
  
  text-align: center;
        width: auto;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  border: 1px black solid;
  margin-top: 10px;
        border-radius: 20px;
        display: block;
}
    </style>